body{
    font-family: Poppins, sans-serif;
    margin: auto;
    color: auto;
    line-height: 1.4;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

header{
    color: #fff;
    background: linear-gradient(to right, #ff4b4b, #4258ff);
    padding: 20px 0;
    line-height: 0.7;
}

p {
    font-weight:500;
}

a {
    color: #0037ff;
    text-decoration:none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

section{
    padding:20px;
}

footer{
    font-size: large;
    padding: 20px;
    color:#fff;
    background: linear-gradient(to right, #000000, #4f4f4f);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

form{
    max-width: 250px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea{
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"]{
    padding: 10px 20px;
    background-color: #0033ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover{
    background-color: #ff2727;
}